*{
    margin:0;
    padding:0;
    --primary:#4D94F2;
    --lightgray:#BDBDBD;
    --white:#FFFFFF;
    --darkgray:#6B6C67;
    --background:#E2E2E2;
}
body{
    background-color:var(--background);
    font-family:Roboto,sans-serif;
}
.container{
    width:400px;
    background-color:var( --white);
    margin: 20px auto;
    border-radius:5px;
    height:500px;
}
.bottom-container{
    text-align:center;
}
form{
    margin:20px;
    
}
input[type="text"],[type="password"]{
    width:100%;
    height:30px;
    border:1px solid var( --lightgray);
    border-radius:3px;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px 5px 10px 5px;
    box-sizing:border-box;
}
input[type="checkbox"]{
    margin-top:10px;
    margin-bottom:10px;
}
input[type="text"]:focus{
    outline: 2px solid #4D94F2;
}
input[type="password"]:focus{
    outline: 2px solid #4D94F2;
}
.form-header{
    color:var(--lightgray);
    padding:15px;
    font-size:25px;
}
hr{
    width:365px;
    margin:auto;
}
::placeholder{
   padding:10px 5px;
}
.login,.signup{
    width:100%;
    background-color:var(--primary);
    border:none;
    border-radius:3px;
    height:30px;
    color:var(--white);
    margin-top:10px;
}
.bottom-container a{
    text-decoration:none;
    color:var(--primary);
}
.forgotpw,.terms{
    margin-bottom:20px;
    color:var(--darkgray);
}
.noacc,.ahacc{
    margin-top:20px;
    color:var(--darkgray);
}